

body {
  background-image: url('../logo/a_6.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}

.table {
  background-color: #37b1f20c;
  border-radius: 0.625rem;
}


.btn-primary {
    background-color: blue; /* Change the background color */
    color: white; /* Change the text color */
    padding: 10px 20px; /* Change the padding */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add cursor pointer */
}
  
.btn-primary:hover {
    background-color: darkblue; /* Change the background color on hover */
}
  

.signup-title {
  color: rgb(70, 148, 244);
  font-family: "Avenir LT Pro 85 Heavy", sans-serif;
  font-size: 4em; /* Adjust this value to make the title bigger or smaller */
  margin-top: +0px; /* Adjust this value to move the title higher or lower */
}

.form-input {
  color: black; /* This will change the text color to black */
  background-color: white; /* This will change the background color to white */
  border-color: rgb(211, 212, 212); /* Replace #yourColor with the color you want */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px; /* Added margin-bottom */
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  box-sizing: border-box; /* Add this line */
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  background-color: white;
  color: black;
}

.inputBox select {
  height: 100%;
  width: 100%;
}

.inputButton {
  display: block; /* Block level element */
  margin: 0 auto; /* Center the button */
  background-color: rgb(70, 148, 244);
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for size */
  border: none; /* No border */
  border-radius: 50px; /* Large border radius for round corners */
  cursor: pointer; /* Cursor pointer on hover */
  text-align: center; /* Center the text */
}

.clicked {
    opacity: 0.3; /* Adjust the opacity value to make the button more transparent */
    background-color: grey; /* Change the background color to grey */
}

.inputButton:hover {
  background-color: rgb(36, 115, 211);

}

.centered-text {
  display: block;
  text-align: center;
  color: rgb(142, 147, 153);
}

.subtitle {
  color: gray;
  font-size: 1.2em; /* Adjust size as needed */
  text-align: center; /* Center align the text */
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.logo {
  position: fixed;
  top: 90px; /* Adjust the top position as needed */
  left: 49.5%; /* Center the logo horizontally */
  transform: translateX(-50%); /* Adjust to center the logo */
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust height */
  z-index: 1000; /* Set z-index to ensure it's above other elements */
}

.dashboard-logo {
  position: fixed;
  bottom: 5%; /* Adjust the bottom position as needed */
  left: 5%; /* Center the logo horizontally */
  transform: translateX(-50%); /* Adjust to center the logo */
  width: 7%; /* Adjust the width as needed */
  height: auto; /* Automatically adjust height */
  z-index: 5%; /* Set z-index to ensure it's above other elements */
}

.upload-assigment-button {
  background-color: rgb(36, 115, 211);
  color:rgb(255, 255, 255);
  font-weight: regular;
  position: absolute; /* or 'fixed' or 'sticky' */
  top: 12%;
  right: 2%;
}

@font-face {
  font-family: "Duke Charming DEMO";
  src: url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.eot");
  src: url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ad06daefd952a28c59ab22f35fcd9369.svg#Duke Charming DEMO")format("svg");
}

#welcomeMessage {
  color: rgb(36, 48, 94); /* Change the color */
  font-family: "Ranua Trials";
  font-size: 16px; /* Change the font size to make it smaller */
  position: absolute; /* Position the text absolutely */
  bottom: 20%; /* Align the text to the bottom */
  left: 11%; /* Center the text horizontally */
}


@font-face {
  font-family: "Ranua Trials";
  src: url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.eot");
  src: url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5bd42517ea0fe77ccfb4c74b7bc20fe5.svg#Ranua Trials")format("svg");
}

/* import font */
@font-face {
  font-family: "Avenir LT Pro 85 Heavy";
  src: url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.eot");
  src: url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/79e4dc6a81171b1523795cb6b2bc7b2f.svg#Avenir LT Pro 85 Heavy") format("svg");
}

/* styles.css or your preferred stylesheet */
#logo-text {
  font-family: "Avenir LT Pro 85 Heavy", sans-serif;
  font-size: 36px; /* Set the desired font size */
  font-weight: bold; /* Optionally set the font weight to bold */
  color: #ffffff; /* Set the desired text color */
}



.profileButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.profileIcon {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profileItem {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profileItem:hover {
  background-color: #ddd;
}


.menuStyle {
  width: 250px !important;
  height: 400px !important;
  overflow: visible;
  margin-top: 1px;
  
}

.menuStyle .MuiPaper-root {
  width: 230px !important; 
  height: 250px !important; 
  overflow: visible !important;
  display: flex; 
  flex-direction: column; 

}


.menuStyle .menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% + 48px);
}

.menuStyle .MuiAvatar-root {
  width: 58px;
  height: 58px;
  margin-left: 2px;
  margin-right: 1px;
}

.dividerStyle {
  width: 100%;
}

.menuStyle .menuContent > * {
  margin-bottom: 8px;
}

.menuStyle .menuContent > *:hover {
  text-decoration: none;
  cursor: default;
}

.menuStyle .menuBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27%;
  background: #c8e6c9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.modal{
  position: fixed;
  z-index: 1200;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    background-color: #fbfbf8;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #434d5b;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction:column;
    gap:5px;
    
}

.modal-content .inputBox {
  height: 25px;
  width: 155px;
  border-radius: 5px;
  background-color: #e8f0fe;
  font-size: smaller;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #454f5c;
}

.modal-content .inputButton {
  margin-top: 30px;
  background-color: rgb(70, 148, 244);
  color: white; /* White text color */
  padding: 10px 10px; /* Padding for size */
  border-radius: 10px; /* Large border radius for round corners */
  cursor: pointer; /* Cursor pointer on hover */
  text-align: center; /* Center the text */
}

.modal-content .inputButton:hover {
  background-color: rgb(36, 115, 211);

}